
<div class="row">
  <div class="col-xs-12">

    <div class="row list-management">        
        <ul class="nav navbar-nav col-xs-offset-1">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                All
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">In development</li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#">All Companies</a></li>
                    <li class="disabled"><a href="#">TB Only</a></li>
                    <li class="disabled"><a href="#">TM Only</a></li>
                    <li class="disabled"><a href="#">PTI Only</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Most Urgent
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">In development</li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#">Most Urgent</a></li>
                    <li class="disabled"><a href="#">Most Recent</a></li>
                </ul>
            </li>
            </ul>
    </div>
    
    <div class="list-group">
        <app-errand-item 
        *ngFor = "let errandEl of errands"
        [errand]="errandEl"></app-errand-item>
    </div>
  </div>
</div>



