<div class="row">
    
    <ul class="nav navbar-nav">
        <li><button class="btn-round btn-add" type="button">
            <i class="glyphicon glyphicon-plus"></i>
          </button></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          All
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Mine</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Most Urgent
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Most Urgent</a></li>
            <li><a href="#">Most Recent</a></li>
          </ul>
        </li>
      </ul>
</div>
  
