      <div class="drawer-hero">   
        <img class="img-responsive" src="assets/images/errand-drawer-hero-default.jpg" alt="">   
              
        <ul class="nav navbar-nav navbar-right" role="navigation">                    
          <li>
              <a 
                (click)="onCloseDrawer()" 
                title="Close Errand Drawer">
                  <i class="glyphicon glyphicon-remove"></i>
              </a>
          </li>   
        </ul>             
          
      </div>


      
  <div class="errand-details-header">
    <h2>{{errand.name}}</h2>
    <p></p>             
  </div> 

  <div class="list-group errand-phase">
    <div class="list-group-heading">
      <ul class="nav navbar-nav navbar-right" role="navigation">                    
        <li><button class="btn btn-icon"><i class="glyphicon glyphicon-plus"></i></button></li>   
      </ul>
      <h3>Tasks</h3> 
    </div>               
    
    <div class="list-group-item" *ngFor="let task of errand.taskArray"> <!-- task description -->
      <ul class="nav navbar-nav navbar-right" role="navigation">                    
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" title="List for Feedback"><i class="glyphicon glyphicon-star"></i></a>  
          <ul class="dropdown-menu">
            <li class="dropdown-header">In development</li>
            <li class="divider"></li>
            <li><a>Creative Task</a></li>
            <li><a>Front end task</a></li>
          </ul>
        </li>
        <li><a target="_blank" [href]="'https://thetaxbackgroup.teamwork.com/#tasks/' + task.taskID" title="Open task in a new tab"><i class="glyphicon glyphicon-arrow-right"></i></a></li>   
      </ul>
      
      <div class="task-progress">
        <div class="progress-circle"                   
            attr.data-progress="{{task.progress}}">
            <div class="circle">
                <div class="full progress-circle__slice">
                    <div class="progress-circle__fill"></div>
            </div>
                <div class="progress-circle__slice">
                    <div class="progress-circle__fill"></div>
                    <div class="progress-circle__fill progress-circle__bar"></div>
                </div>
            </div>
            <div class="progress-circle__overlay">{{task.progress}}%</div>
        </div>
      </div>
      <h5 class="list-group-item-heading">{{task.taskName}}</h5>
      <p class="small list-group-item-text">{{task.taskAssignee}}</p>
    </div>
  </div>

