<div class="row">
  <div class="col-xs-12">
      <div class="errand-details">
        <div class="errand-details-header">
          <button class="btn btn-icon btn-complete">
            <i class="glyphicon glyphicon-ok-circle"></i>
          </button>
          <h2>[1129]</h2>
          <p>{{errand.name}}</p>             
        </div>
        
  
        <h3>Activities</h3>  
  
        <div class="list-group errand-phase">
          <div class="list-group-heading">
            <ul class="nav navbar-nav navbar-right" role="navigation">                    
              <li><button class="btn btn-icon"><i class="glyphicon glyphicon-plus"></i></button></li>   
            </ul>

            <h4>Coordination</h4>

          </div>
          
          <div class="list-group-item"> <!-- task description -->
            <ul class="nav navbar-nav navbar-right" role="navigation">                    
              <li><a title="Close Errand Drawer"><i class="glyphicon glyphicon-comment"></i></a></li>   
              <li><a title="Close Errand Drawer"><i class="glyphicon glyphicon-arrow-right"></i></a></li>   
            </ul>
            
            <div class="task-progress">
                <div class="progress-circle" data-progress="25">
                    <div class="circle">
                        <div class="full progress-circle__slice">
                            <div class="progress-circle__fill"></div>
                      </div>
                        <div class="progress-circle__slice">
                            <div class="progress-circle__fill"></div>
                            <div class="progress-circle__fill progress-circle__bar"></div>
                        </div>
                    </div>
                    <div class="progress-circle__overlay">25</div>
                </div>
            </div>

            <h5 class="list-group-item-heading">Name of the coordination task</h5>
            <p class="small list-group-item-text">(23/07/2017 - 27/07/2017)</p>
          </div>
        </div>
      </div>      
  </div>
</div>
